<div class="row">
        <div class="col-md-12">
            {{ message }}
            <tool></tool>
            <div>{{ message | reverse }}</div>
            <div>{{ tools | json}}</div>
            <form>
                <div class="form-group">
                    <label for="tool">Tool Name</label>
                    <input ng-model="toolName" type="text" class="form-control" id="tool" placeholder="tool">
                </div>
                <button type="button" class="btn btn-primary" ng-click="addTool()">Add Tool</button>
            </form>
        </div>
    </div>